
extends layout
block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(function(){
        console.log(document.referrer);
        $('#referrer').val(document.referrer);
      });
    .uv-pagination
      .container
        ul
          li.active
            a(href="") Home
          |                     
          li
            a(href="") Add article
    |         
    |    
    //
      |========================
      |      Dataset comment form
      |========================           
    section.uv-profile
      .container
        .row.section-separator
          .col-sm-8
            .uv-sudent-profile-info
              .uv-student-courses-overview
                h3 Add Post
                |                                 
                | 
                br                                
                .uv-profile-setting-inner
                  form.uv-profile-setting-form(method="post", action="/articles/create")
                    .row 
                      .form-group
                        input(id="referrer", hidden, name="referrer")
                      .form-group.col-sm-8
                        input.form-control(type="text", name="title", placeholder="Topic Title")
                      br
                      br  
                      br  

                                                                                                                                                                   
                      .form-group.col-xs-12
                        textarea.form-control(name="body", id="", placeholder="Content", cols="30", rows="6")
                      | 
                      .form-group
                        input(hidden, name='com_type', value='dataset')
                        input(hidden, name='datasetid', value= datasetid)
                      hr
                      |                                             
                      .clearfix
                      |                                             
                      //- .col-md-2.col-sm-2
                      //-   h9  Photo :
                      //-   |  
                      br             
                      .clearfix
                      | 
                      .col-xs-8                                                                                                 
                      .col-xs-4
                        br
                        input.btn.btn-fill(type="submit", value="Post ")
          |                     
          .col-sm-4.uv-sidebar
            //
              |========================
              |      User side panel
              |========================    
            if user 
             .uv-widget
              .uv-student-avatar
                 figure
                    img(src="/assets/images/student-1.png", alt="")
                 |                            
                 .uv-student-info
                  h5 #{user.username}
                 |                             
                 .uv-student-infor-inner
                  
                  .div
                   h9 Email  :  #{user.email} 
                  .div                             
                   h9 Reward Point : #{user.rewardpoints*100}
                  |
                  br
                  a(href="#") My Post &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  a(href="http://localhost:5000/articles/new") Add Posts 
                  br
                  a(href="/datasets_firstpage/checkdataset/mydataset") My Datasets  &nbsp;&nbsp;&nbsp;
                  a(href="#") Upload Datasets              

            
                                                                 
