extends layout
block content
    |         
    section.uv-subpage-heading.image-bg(style="background-image: url(/assets/images/sub-banner.jpg);")
      .overlay
        .container
          .row
            .uv-subhead-content.col-xs-12
              h2 My Profile 
              |                             
              span Welcome to DataDemy
    |         
    .uv-pagination
      .container
        ul
          li.active
            a(href="/") Home
          |
          if user                     
            li
              a(href="/profile/"+user.username) Profile
    |         
    | 
    
    //
      |========================
      |     Profile sidebar
      |========================  
    section.uv-profile
      .container
        .row.section-separator
          .col-sm-4.uv-sidebar.uv-student-profile-sidebar
            .uv-widget
              .uv-student-avatar
                figure
                  img(src=user.portrait, alt="")
              |                             
              .uv-student-info
                h5 #{user.username}
                |                                 
            |                         
            |                         
            .uv-widget.no-side-padding
              .uv-student-nav
                ul
                  li.active
                    a(href='/profile/'+user.username)
                      i.fa.fa-user-circle-o.gt-color
                      | My Profile                                   
                  li
                    a(href='/profile_posts/'+user.username)
                      i.fa.fa-bookmark
                      | My Posts                                   
                  li
                    a(href='/profile_datasets/'+user.username)
                      i.fa.fa-calendar
                      | My datasets                                
                  li
                    a(href="/leaderboard")
                      i.fa.fa-industry
                      | LeaderBoard                         
                  li
                    a(href='/profile_setting/'+user.username)
                      i.fa.fa-gears
                      | Profile Setting
                                 
                  li
                    a(href="/logout")
                      i.fa.fa-sign-out
                      | Logout

            
          |    
          //
            |========================
            |     list all the datasets
            |========================                   
          .col-sm-8
            .uv-sudent-profile-info
              .uv-student-profile-details-header
                .col-md-4.col-sm-12
                  .uv-student-img
                    img.img-responsive(src="http://lincsportal.ccs.miami.edu/dcic-portal/images/dataset_logo.png", style="width:50%", height=300, alt="")
                |                                 
                .col-md-8.col-sm-12
                  .uv-student-profile-inner
                    h3 My Datasets

                    ul
                    each dataset, i in datasets
                      if user.username == dataset.author.username
                        li
                          a(href="/datasets_firstpage/checkdataset/" + dataset._id) #{dataset.title}
